
/* ===========================================
 Bio Data Section Start
======================================= */

.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.active{
  text-decoration-line: underline;
}
.bio-image img {
  display: inline-block;
  width: 80%;
  box-shadow: -2rem -2rem 0rem 0rem var(--helper);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--helper);
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 128%;
  left: 1.5rem;
  width: 30%;
  height: 0.3rem;
  background: var(--helper);
}

.bio-data-stats {
  padding: 6.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.bio-progress-bar {
  width: 90%;
  height: 0.8rem;
  /* background: var(--para); */
  background-color: rgb(233 236 239);
  border-radius: 10rem;
  position: relative;
  box-shadow: var(--shadpw);
  /* overflow: hidden; */
}

.bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  border-radius: 10rem;
}

/* to create the rectangle box  */
.bio-progress-bar span {
  position: absolute;
  top: 1.8rem;
  left: 76%;
  width: 4rem;
  height: 2rem;
  background: var(--helper);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

/* to create the traingle or caret symbol  */
.bio-progress-bar span::after {
  content: "";
  position: absolute;
  top: -1.6rem;
  width: 0rem;
  height: 0rem;
  border: 0.8rem solid var(--helper);
  border-color: transparent;
  border-bottom-color: var(--helper);
}
/* ===========================================
1st set Start
======================================= */

.section-hero {
    background: var(--bg);
  }
  
  .section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .hero-top-data {
    text-transform: uppercase;
    color: var(--heading);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--project);
  }
  
  .hero-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    
  }
  
  .hero-para {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    max-width: 60rem;
  }
  
  .section-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Brightness-zoom Container */
.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
  /* width: 80%;
  height: 60%; */
  margin-top: 5%;
  margin-bottom: 40%;
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(110%);
  transform: scale(1.1);
}

  /* ===========================================
     2nd set Start
  ======================================= */

/* Colorize-zoom Container */
.img-hover-zoom--colorize img {
  width: 95%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 3%;
  margin-right: 3%;
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* ===========================================
     2nd set Start
  ======================================= */

/* Slow-motion Zoom Container */
.img-hover-zoom--slowmo img {
  width: 80%;
  height: 70%;
  margin-top: 22%;
}










