<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Availability</title>
    <link rel="stylesheet" href="bloodbankA+.css">
    <style>
        

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e4e2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    color: rgb(0, 0, 0);
}

/* th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
} */


.heading{
    background-color: #e5e4e2;
}

.blood-table{
    background-color: #ffffff;
}




    </style>
    
</head>
<body>
    <div class="container">
        <h2 class="heading">Organ & Tissues Availability</h2>
        <table class="blood-table" border="1">
            <thead>
            <tr>
                <th>Available Hospital</th>
                <th>Available Organs & Tissues</th>
                <th>Contact Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Welcome Hospital</td>
                <td>Heart</td>
                <td>9854217631</td>
                <td>Vadsar Road, Near Miles Motors, Vadodara, Gujarat 390012</td>
            </tr>
            <tr>
                <td>Vitas Hospital</td>
                <td>Eyeballs</td>
                <td>9685741235</td>
                <td>Pragati Apartment, Dutt Vihar Society, Race Course, Opposite Income Tax Office, Near Kalyan Jewellers, Vadodara, Gujarat 390007</td>
            </tr>

            <tr>
                <td>Bhai Lal Amim General Hospital</td>
                <td>Skin</td>
                <td>9865123471</td>
                <td>Gorwa Road, Vadodara, Gujarat 390003</td>
            </tr>

            <tr>
                <td>Luxor Hospital</td>
                <td>Bones</td>
                <td>6284596315</td>
                <td>2nd Floor Shyamal Sapphire Near Nilamber Circle Gotri-Vasna Link Road, Vadodara, Gujarat 390007</td>
            </tr>

            <tr>
                <td>Subbhechha Hospital</td>
                <td>Pancrease</td>
                <td>9658741236</td>
                <td>Society Urmi Charrasta, Srinagar, Vadodara, Gujarat 390020</td>
            </tr>

            <tr>
                <td>Naik Super Speciality Hsopital</td>
                <td>Liver</td>
                <td>8795641236</td>
                <td> B/H Aradhana Theater, Opp Ssg Hospital, Salatwada Rd, Raopura, Vadodara, Gujarat 390001</td>
            </tr>

            <tr>
                <td>Swadia Hospital</td>
                <td>Kidney</td>
                <td>7845126396</td>
                <td>Kothi Char Rasta, Karivav Road, Opp Kuber Bhavan, Raopura, Vadodara, Gujarat 390001</td>
            </tr>

            <tr>
                <td>Gujarat Superspeciality Hospital</td>
                <td>Lungs</td>
                <td>9888562314</td>
                <td>New India Mill Compound, Nr Jetalpur Bridge, Jetalpur Road, Vadodara, Gujarat 390020</td>
            </tr>

            <tr>
                <td>Dhwani Blood Bank</td>
                <td>Heart</td>
                <td>7896587445</td>
                <td>Anant Apartment, 1st Floor, Beside Aradhana Cinema, Tilak Road, Vadodara, Gujarat 390001 </td>
            </tr>

            <tr>
                <td>Indu Voluntary Blood Bank</td>
                <td>Liver</td>
                <td>9855632545</td>
                <td>Beside Ward Office No.4, Sindhwai Mata Road, Manjalpur, Vadodara, Gujarat 390011AZ </td>
            </tr>

            <tr>
                <td>Ayush Blood Center</td>
                <td>Skin</td>
                <td>9855632545</td>
                <td>Parshuram Nagar, Sayajiganj, Vadodara, Gujarat</td>
            </tr>
            
        </tbody>
    </table>
</div>
</body>
</html>

